extends ../layout
block content

  .homepage-section
    h3.homepage-title
      span.underline-hover #{meeting.title}

    if (meeting.is_live)
      button.btn.btn-outline-primary(type="button") 
        a(href='/meetings/live-meeting/'+meeting.assigned_id)
          i.fa.fa-circle.text-danger.blink
          |  Enter Live Meeting
    if (meeting.is_open_comment)
      a(href='/meetings/open-comment/'+meeting.assigned_id)
        button.btn.btn-outline-primary(type="button") 
          i.fa.fa-circle.text-info.blink
          |  Enter Open Comment
    if (meeting.is_live | meeting.is_open_comment)
      br
      br
      br

    .row
      div.col-md-4
        div.metadata-header Related Topics
        for t in meeting.topics
          a(href='/').tag
            div.tag-circle
            span #{t.title}
      div.col-md-4
        div.metadata-header Connected Hashtags
        for h in meeting.hashtags
          a.hashtag(href="https://twitter.com/search?q=" + h.substring(1) + "&src=typd") #{h}

    .row
      div.col-md-4.meeting-metadata
        div.metadata-header When
        div.bolditalic #{meeting.notice_time} on #{meeting.notice_date}

        if (meeting.testimony_time.trim() != "")
          br
          div Testimony Time: #{meeting.testimony_time}
      
      div.col-md-4.meeting-metadata
        div.metadata-header Where
        div #{meeting.location_name}
        if (meeting.location_room.trim() != "")
          div #{meeting.location_room},
        div #{meeting.location_street}

      div.col-md-4.meeting-toolbar
        if (meeting.is_live)
          div.button-group
            i.fa.fa-circle.text-danger.blink
            span Currently Live
        if (meeting.is_open_comment)
          div.button-group
            i.fa.fa-circle.text-info.blink
            span Open Comment Period Active
        if (iscouncilor && user)
          a.button-group(href='/meetings/edit/'+meeting.assigned_id)
            i.fab.fa.fa-pencil-alt.fa-sm
            span Edit Meeting Information
        a.button-group(href='/meetings/download-ics/'+meeting.ics)
          i.fab.fa.fa-calendar-plus.fa-sm
          span Export to Calendar
        if (user)
          a.button-group(href='/meetings/follow-meeting/'+meeting.assigned_id)  
            i.fab.fas.fa-bell.fa-sem
            span Subscribe
        if (!user)
          a.button-group(href='/login')  
            i.fab.fas.fa-bell.fa-sem
            span Subscribe
        if (iscouncilor && user)
          a.button-group(href='/meetings/delete/'+meeting.assigned_id)
            i.fab.fa.fa-trash-alt.fa-sm
            span Delete Meeting


    div.paper.meeting-field-drawer !{meeting.field_drawer}

    
    a(href=meeting.url) Additional Information