.card
  .card-header
  a(href= url)
    .card-content
      h5= title
      .card-dateplace
        .card-date= notice_date
        .card-time= notice_time
        .card-name= location_name
        .card-room= location_room
      p= notice_body