.card
  .card-header 
    a.button-group(href='/meetings/download-ics/'+ics)
      i.fab.fa.fa-calendar-plus.fa-sm
      span Export
    a.button-group(href='/meetings/follow-meeting/'+id)  
      i.fab.fas.fa-bell.fa-sem
      span Subscribe
  a(href= url)
    .card-content
      h5= title
      .card-dateplace
        .card-date= notice_date
        .card-time= notice_time
        .card-name= location_name
        .card-room= location_room
      p= notice_body
