extends ../layout

block content
  .row
    .homepage-section
      h3.homepage-title
        span.underline-hover Workspaces You've Joined

      .row
        .col-md-12
          a(href="/workspace/change-workspace/public")#workspace-public.workspace.workspace-manager
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Flag_of_Boston.svg/1200px-Flag_of_Boston.svg.png")
            .workspace-label Boston
          for ws in memberWorkspaces
            .workspace.workspace-manager
              a(href="/workspace/change-workspace/"+ws.id, id="#workspace-"+ws.name)
                img(src=ws.imgpath)
              if (ws.owner.id != user.id)
                a(href="/workspace/leave-workspace/"+ws.id)
                  i.workspace-leave.fas.fa-times
              .workspace-label #{ws.name}

          

  .row         
    .homepage-section
      h3.homepage-title
        span.underline-hover Workspaces You Manage

      if (!ownerWorkspaces || ownerWorkspaces.length == 0)
        p.generic-text You don't manage any workspaces yet.
      for ws in ownerWorkspaces
        .row
          .col-md-2
            a(href="/workspace/change-workspace/"+ws.name, id="#workspace-"+ws.name).workspace.workspace-manager
              img(src=ws.imgpath)
              .workspace-label #{ws.name}
          .col-md-1
          .col-md-9
            .row
              .col-md-6.workspace-settings Access Code: 
              .col-md-6 #{ws.accessCode}
            .row
              .col-md-6.workspace-settings Users:
              .col-md-6
                for u in ws.users
                  div #{u.profile.name}


    